#start{
    padding-right: 30px;
}
#end{
    padding-right: 20px;
}
#from{
    padding-right: 20px;
}
#to{
    padding-right: 20px;
}
#tech{
    padding-right: 20px;
}
#trainer{
    padding-right: 20px;
}
#sub{
    padding-right: 20px;
}
#row{
    padding-right: 20px;
}